# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignorar archivos de salida de IntelliJ
/out/
*.class

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos del entorno Java
*.log
*.iml

# IntelliJ IDEA config
.idea/
